/* === HEADER =============================== */
.header {
  height: 80vh;
  color: #fff;
}

.header h1 {
  font-weight: bold;
  font-size: 6rem;
}

.gray-header {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.08),
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.08),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.9)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}
.title-and-logo-container {
  margin-left: 2vw;
}
.header-title-desktop {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 2rem;
  width: 100%;
}

.searchbox-desktop-container {
  width: 37%;
}

.word-mylist-log-buttons-desktop button,
.log-desktop {
  border: none;
  background: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  transition: font-size 0.4s;
}

.word-mylist-log-buttons-desktop button:hover,
.log-desktop:hover {
  font-size: 30px;
}

/* === MAIN ================================== */

.content-desktop {
  max-width: 1200px;
  margin: 6vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-card {
  text-align: left;
  margin: 20px 0;
  width: 380px;
  background-color: rgba(255, 255, 255, 0.75);
  position: relative;
  box-shadow: 0px 10px 20px -13px rgba(38, 38, 38, 1);
}

.buttons-main-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 18px;
  right: 60px;
}
.buttons-main-card p {
  /* display: flex;
  align-items: center; */
  color: #002f6c;
  font-size: 16px;
  padding-left: 6px;
}

.btn-desktop {
  display: flex;
  align-items: center;
  width: 60px;
  height: 50px;
  background: none;
  border: none;
  margin: 10px;
}
.fa-save,
.fa-globe-europe {
  background: none;
  font-size: 35px;
  color: #3a3939;
}

.hvr-pulse-shrink:hover .fa-play,
.hvr-pulse-shrink:hover .fa-save,
.hvr-pulse-shrink:hover .fa-globe-europe,
.hvr-pulse-shrink:hover p {
  color: rgba(0, 114, 255, 1);
}

.subtitle-para-desktop {
  padding: 1vw 2vw;
  margin-bottom: 60px;
}
