@import url("https://fonts.googleapis.com/css?family=Karla");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
  text-align: center;
}

a,
input,
button {
  outline: none;
  cursor: pointer;
}

.phone-screen {
  width: 100%;
  max-width: 540px;
  height: 100vh;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f6f6;
  color: #181818;
}

.phone-screen > * {
  flex: 1 1 auto;
}

/* === HEADER =====================================*/

.header {
  background: linear-gradient(281deg, #002f6c 0%, hsl(215, 100%, 40%) 90%, hsl(215, 100%, 50%) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  max-height: 100px;
  min-height: 80px;
}

.header-logo {
  min-width: 100px;
  max-width: 150px;
  flex: 10vw;
}

.header-title {
  flex: 70vw;
  color: #f6f6f6;
  max-width: 900px;
  font-weight: bold;
  font-size: 30px;
}

.log {
  flex: 10vw;
  min-width: 100px;
  border: none;
  background: none;
  color: #f6f6f6;
  font-size: 18px;
  padding-right: 10px;
}

/* === SEARCHBOX ==================================*/

.searchbox {
  background-color: #f6f6f6;
  min-height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 20px -13px rgba(38, 38, 38, 1);
}

.search-bar {
  flex: 60vw;
  max-width: 1300px;
  border: none;
  background: none;
  color: #f6f6f6;
  text-align: left;
  font-size: 1em;
  margin-top: 10px;
  color: black;
  padding-left: 30px;
}

.search-btn {
  flex: 10vw;
  border: none;
  background: none;
}

.fa-search {
  color: #002f6c;
  font-size: 1.5rem;
}

/* === MAIN =======================================*/

.content {
  overflow-y: scroll;
  /*Phone & Tablet*/
  -webkit-overflow-scrolling: touch;
  scrollbar-base-color: grey;
  scrollbar-track-color: grey;
  padding-right: 30px;
  padding-bottom: 60px;
}

.subtitle {
  text-align: left;
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}

.subtitle-para {
  flex: 85vw;
  padding-left: 2vw;
}

.subtitle-btn {
  flex: 10vw;
  align-items: center;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  padding-left: 2vw;
}

.fa-play {
  background: none;
  font-size: 35px;
  color: #002f6c;
}

.fa-play:hover {
  color: rgba(0, 114, 255, 1);
}

.fa-play:active {
  position: relative;
  bottom: 1px;
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-shrink:hover,
.hvr-pulse-shrink:focus,
.hvr-pulse-shrink:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

span {
  color: #002f6c;
  font-weight: bold;
}

/* === FOOTER =====================================*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  max-height: 100px;
  min-height: 80px;
}

.footer .btn {
  flex: 1;
  color: #f6f6f6;
  border: none;
  padding: 3px;
  height: 100%;
}

.btn-word {
  background: linear-gradient(281deg, #002f6c 0%, hsl(215, 100%, 40%) 90%, hsl(215, 100%, 50%) 100%);
}

.btn-list {
  background: linear-gradient(281deg, hsl(215, 100%, 50%) 0%, hsl(215, 100%, 40%) 10%, #002f6c 100%);
}

.verticalLine {
  width: 0px; /* Use only border style */
  height: 100%;
  float: left;
  border: 1px solid #002663;
}

.fa-wikipedia-w {
  font-size: 1.5rem;
}

.fa-list {
  font-size: 1.7rem;
}

.font-title {
  font-size: 0.9rem;
}

/*=== MEDIA QUERY =================================*/
@media (min-width: 375) {
  .subtitle-btn {
    width: 6vw;
    height: 6vw;
  }
  .fa-play {
    font-size: 3vw;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }

  .phone-screen {
    max-width: 540px;
    height: 90vh;
    margin: 5vh auto;
    border: 10px solid rgba(0, 0, 0, 0.8);
    border-bottom-width: 70px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  }

  .fa-wikipedia-w,
  .fa-search {
    font-size: 2.5rem;
  }

  .font-title {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .phone-screen {
    max-width: 80vw;
  }
}
